@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Open+Sans&family=Oswald&family=Playfair+Display&display=swap');

header{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: (8,10px);
    border: 2px solid black;
    padding: 10px;
    background-color: #701616;
    font-family: "mohave";
}

.logo{
   height: 50px;
   width: 50px;
   grid-column: 1/2;
   grid-row: 1/2;
}

.company{
  grid-column: 1/2;
  grid-row: 2/3;
}

.nav{
    grid-column: 1/2;
    grid-row: 6/7;
}
h1{
    grid-column: 2/6;
    grid-row: 1/2;
    text-align: center;
}





